package main

import (
	"fmt"
	"os"

	"github.com/railzwaylabs/macro"
	"{{ .ModulePath }}/internal/modules"
)

func main() {
	app := macro.NewService(
		{{ printf "%q" .Name }},
		macro.WithModules(modules.All()...),
	)
	if err := app.Run(); err != nil {
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}
