package grpc

import "{{ .ModulePath }}/internal/{{ .Name }}/application"

type Handler struct {
	service *application.Service
}

func NewHandler(service *application.Service) *Handler {
	return &Handler{service: service}
}
