version: "2"

run:
  timeout: 5m
  tests: true
  modules-download-mode: readonly

linters:
  default: none
  enable:
    - govet
    - ineffassign
    - misspell
    - nolintlint
    - staticcheck
    - unused
  settings:
    govet:
      enable-all: true
      disable:
        - fieldalignment
        - shadow
    misspell:
      locale: US

formatters:
  enable:
    - gofmt
    - goimports
  settings:
    goimports:
      local-prefixes:
        - {{ .ModulePath }}

issues:
  max-issues-per-linter: 0
  max-same-issues: 0

output:
  sort-order:
    - file
